files:
  "/var/app/current/ein.jpg" :
    mode: "000755"
    owner: root
    group: root
    source: https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-168817814702/dev-develop/ein.jpg
    authentication: S3Access

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: elasticbeanstalk-us-west-2-168817814702
