
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_postscript.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/www/html
      echo "export TT=14567">testing.sh

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_post.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/www/html
      source testing.sh
