commands:
  02-install:
    command: | 
      curl -sL https://rpm.nodesource.com/setup_8.x | bash -E -
      sudo yum -y install nodejs

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_postscript.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/www/html
