files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      yum install -y htop vim mlocate git nginx  php72-fpm php72-gd php72-mbstring php72-mcrypt
      service nginx restart
      chkconfig nginx on
