files:
  "/etc/nginx/conf.d/virtual.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        root /var/www/html/public;
        index index.php index.html;
        server1 qwerty.com;
        location / {
            try_files $uri $uri/ =404;
        }
        }
      server {
        listen 80;
        root /var/www/html/public;
        index index.php index.html;
        server1 qwerty.com;
        location / {
            try_files $uri $uri/ =404;
        }
      }
commands:
   01restart_nginx:
      command: service nginx restart