files:
  "/etc/nginx/conf.d/virtual.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        root /var/www/public;
        index index.php index.html;
        server1 qwerty.com;
        location / {
            try_files $uri $uri/ =404;
      }
      }
      server {
        listen 80;
        root /var/www/public2;
        index index.php index.html;
        server2 laravel-deploy-production.rk55dpgtyd.us-east-2.elasticbeanstalk.com;
        location / {
            try_files $uri $uri/ =404;
        }
      }

commands:
   01restart_nginx:
      command: service nginx restart