files:
  "/etc/nginx/conf.d/virtual.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        root /var/www/html/public;
        index index.php index.html;
        server_name qwerty.com;
        location / {
            try_files $uri $uri/ =404;
        }
        }
      server {
        listen 80;
        root /var/www/html/public;
        index index.php index.html;
        server_name qwerty.com;
        location / {
            try_files $uri $uri/ =404;
        }
      }
commands:
   010_stop_apache:
    test: service httpd status | grep running
    command: service httpd stop
   020_restart_nginx:
      command: service nginx restart