files:
  "/var/www/html/ein.jpg" :
    mode: "000755"
    owner: root
    group: root
    source: https://s3.amazonaws.com/collo/ein.jpg
    authentication: S3Access

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: collo